.main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.textBlock {
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    flex: 1;
}

.cta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3rem;
    flex: 1;
    img {
        width: 100%;
    }
}

@media only screen and (max-width: 900px) {
    .cta {
        flex-direction: column;
    }
}